.section-title h1 {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.25px;
    margin-top: -3px;

    /*padding-left: 90px;*/
    color: #509cde;
}
.section-title p {

    margin-top: 7px;
    font-size: 14px;
    margin-bottom: 13px;
    font-weight: bolder;
}
.blog-item{
    display: flex;
}
.blog-item .image-wrap .date {
    float: left;
    font-family: "Dosis", sans-serif;
    color: #94c7eb;
    font-size: 18px;
    text-align: center;
    margin-right: 15px;
    width: 55px;
    font-weight: 600;
}
h4 {
    font-size: 18px;
    line-height: 24px;
}
.blog-item .image-wrap .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 210px;
    flex: 1 0 210px;
}
a, button, img, input, span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a, button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
.blog-item .image-wrap .image img {
    width: 100%;
}
.testimonial-item > p {
    font-size: 16px;
    line-height: 28px;
    color: #1a161e;
    max-width: 510px;
    float: left;
    clear: both;
    margin-bottom: 30px;
    position: relative;
}
.testimonial-item .testimonial-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    float: left;
}
.testimonial-item .testimonial-author img {
    float: left;
    margin-right: 25px;
}

.testimonial-item .testimonial-author .content3 h4 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #1a161e;
    margin-bottom: 2px;
}
.testimonial-item .testimonial-author .content3 p {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 0px;
}
.testimonial-item .testimonial-author img {
    float: left;
    margin-right: 25px;
}
.testimonial-item .testimonial-author .content3 h4 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #1a161e;
    margin-bottom: 2px;
}
.testimonial-item .testimonial-author .content3 p {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 0px;
}
.blog-item .image-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 280px;
    flex: 1 0 280px;
    margin-right: 25px;
}
.blog-item .image-wrap .date span {
    display: block;
    font-size: 44px;
    line-height: 1;
    color: #ff708a;
}
.blog-item .content3 {
    float: left;
    overflow: hidden;
    margin-top: -5px;
}
.blog-item .content3 .desc {
    margin-bottom: 12px;
}
.blog-item .content3 .desc p {
    font-size: 14px;
    line-height: 25px;
    color: #1a161e;
    margin: 0;
}
.blog-item .content3 .meta{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ff708a;
    flex-wrap: wrap;
}
.blog-item .content3 .meta li {
    margin-right: 20px;
    position: relative;
    margin-top: 5px;
}
.blog-item .content3 .meta li a{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
}
.blog-item .content3 .meta li a img {
    width: 46px;
    height: 46px;
    border: 3px solid #94c7eb;
    border-radius: 50px;
    margin-right: 14px;
    float: left;
}
.blog-item{
    display: flex;
}
/*.section-title .mb-3{*/
/*    margin-bottom: 30px !important;*/
/*}*/
/*.container4 .row .mb-40{*/
/*    margin-bottom: 40px !important;*/
/*}*/

.section {
    float: left;
    width: 100%;
}
.mb-80{
    margin-bottom: 80px !important;
}
.container-fluid {

}
.brand-slider {
    width: 100%;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    transform: translate3d(0,0,0);
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.brand-slider .slick-track {
    align-items: center;
    display: flex;
    -webkit-box-align: center;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-initialized .slick-slide {
    display: block;
}
.brand-item {
    text-align: center;
}
.slick-slide{
    float: left;
    height: 100%;
    min-height: 1px;
}
.brand-item img {
    margin: auto;
    max-width: 100%;
}
.slick-slide img {
    display: block;
}
.slick-initialized .slick-slide {
    display: block;
}
.footer-top-section {
    background-image: url(../images/pattern-dot.png);
    background-repeat: repeat;
}
/*.bg-theme-two-light {*/
/*    background-color: #f3faff;*/
/*}*/
.pb-40 {
    padding-bottom: 40px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.footer-widget .title {
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: #1a161e;
    padding-bottom: 7px;
    position: relative;
    margin-bottom: 32px;
}
.footer-widget p {
    font-size: 16px;
    line-height: 28px;
    color: #1a161e;
}
.footer-widget .title {
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: #1a161e;
    padding-bottom: 7px;
    position: relative;
    margin-bottom: 32px;
}
.footer-subscribe-form {
    border-bottom: 1px solid #94c7eb;
    position: relative;
    margin-bottom: 40px;
}
.footer-subscribe-form input {
    width: 100%;
    border: none;
    background-color: transparent;
    line-height: 36px;
    color: #1a161e;
    padding-right: 30px;
}
.footer-subscribe-form button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    color: #1a161e;
}
button, input[type="submit"] {
    cursor: pointer;
}
.footer-subscribe-form button i {
    line-height: 36px;
}
.footer-widget .footer-social {
    font-size: 16px;
    line-height: 28px;
    color: #1a161e;
}
.footer-widget .footer-social a {
    color: #1a161e;
    display: inline-block;
}
.footer-widget ul li a:hover {
    color: #ff708a;
}
.footer-widget ul li a {
    display: block;
    font-size: 16px;
    line-height: 28px;
    color: #1a161e;
}
a:hover {
    text-decoration: none;
}
.footer-widget ul li {
    margin-bottom: 9px;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
h4.title{
    padding: 1em;
    padding-left: 0px;
    background: none;
}
.pt-80 {
    padding-top: 80px !important;
}
.text-left{
    padding-top: 40px;
}
.footer-copyright {
    font-size: 14px;
    line-height: 30px;
    color: #1a161e;
    margin: 0;
}
#scrollUp {

    width: 40px;
    height: 40px;
    background-color: #ff708a;
    border: 3px solid #eeeeee;
    color: #1a161e;
    right: 20px;
    bottom: 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 50px;
    z-index: 9811 !important;
}
#scrollUp i {

    display: block;
    line-height: 34px;
    font-size: 22px;
}
html{
    scroll-behavior: smooth;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.hero-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 190px 30px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.hero-content {
    text-align: center;
    background-color: rgba(148, 199, 235, 0.45);
    padding: 77px 140px 87px;
}
.hero-content h1 {
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 26px;
    font-weight: 700;
}
.fix {
    overflow: hidden;
}
.hero-slider-one .slick-arrow.slick-prev {
    left: 40px;
}
.hero-slider-one .slick-arrow {
    position: absolute;
    top: 50%;
    border: none;
    z-index: 9;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    background-color: #94c7eb;
    color: #1a161e;
    border-radius: 50%;
}
.hero-slider-one .slick-arrow i {
    font-size: 30px;
    line-height: 60px;
}
.hero-content a {
    font-family: "Dosis", sans-serif;
    color: #1a161e;
    font-size: 18px;
    border-radius: 50px;
    font-weight: 700;
    background-color: #94c7eb;
    line-height: 24px;
    padding: 13px 30px;
    /*display: -webkit-inline-box;*/
    /*display: -ms-inline-flexbox;*/
    display: inline-flex;
    /*-webkit-box-shadow: 0 2px 1px #1a161e;*/
    box-shadow: 0 2px 1px #1a161e;
}
.hero-slider-one .slick-arrow.slick-next {
    right: 40px;
}
.hero-slider-one .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 40px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #94c7eb;
    padding: 10px;
    border-radius: 50px;
}
.hero-slider-one .slick-dots li {
    line-height: 14px;
    margin: 1px 5px 0;
    float: left;
}
/*.hero-slider-one .slick-dots li.slick-active button {*/
/*    background-color: #ff708a;*/
/*    border-color: #ff708a;*/
/*}*/
.hero-slider-one .slick-dots li button {
    background-color: transparent;
    border: 1px solid #1a161e;
    padding: 0;
    text-indent: -9999px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.w3-display-left {
    border-radius: 5px;
    font-size: 20px;
    background: #bed9f8;
    position: absolute;
    top: 10%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}
.w3-display-right {
    border-radius: 5px;
    font-size: 20px;
    background: #bed9f8;
    position: absolute;
    top: 10%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}




