body{
    font-family: Tahoma;
}
.container{
    width: 1550px;
}
.header{
    width: 1550px;
    margin-left: -90px;

}
.header-top{
    height: 130px;
    width: 1550px;
    margin-left: -90px;
}
.header-bottom{
    padding-left: 20px;
    width: 1550px;
    height: 60px;
    margin-left: -90px;
}
.logo{
    margin-left: 50px;
}
.logo_hiBABY{
    margin-top: -11px;
    margin-left: -8px;
    height: 100px;
}
#form_search_btn{
    background: white;
    padding: 6px 7.5px 3.75px 7.5px;
}
input{
    outline: none;
}
.text-seach{
    font-size: 13px;
    padding: 10px 10px 5px 10px;
    height: 20.75px;
}
.header-top-on{
    margin-top: -20px;
    margin-right: 100px;
}
.social-in{
    margin-top: -10px;
    margin-right: -8px;
}

element.style {
}
.top-search{
    width: 656px;
    height: 36px;
    margin-left: -96px;
    /* border: solid #4c4c4c; */
    background: white;
    border-radius: 5px;
}
.header-para{
    height: 34px;
}
.cart{
    font-size: 13px;
}
.header-para{

    width: 569px;
    height: 24px;
    padding-top: 1px;
    font-size: 15.8px;
    font-weight: lighter;
    font-family: Tahoma;
    margin-left: 90px;
}
#home > div.header-para > p{
    color: #42595d;
}
ul.header-in{
    font-family: Tahoma;
    padding-left: 5px;
    font-size: 15.8px;
    margin-right: 90px;
}
#header{
    display: flex;
    flex-direction: column;
}
.megamenu{
    margin-left: 90px;
}
.cart{
    margin-right: 105px;
}
/*  CONTENT*/
.img_baby{
    width: 643px;
    height: 393px;
}
.forgot_pass{
    margin-top: 10px;
    font-size: 15px;
    color: black;
    text-decoration: underline;
}
.label_forgotpass{
    text-align: center;
}
.bt_next{
    margin-top: 20px !important;
    width: 665% !important;
}
.inp_number{
    margin-left: 10%;
}
._1y306T {
    text-align: center !important;
    border: none !important;
    border-bottom: 1px solid black !important;
    padding: 0px !important;
    outline: none !important;
    width: 55px !important;
    border-radius: 0 !important;
    margin-right: 35px !important;
    font-size: 35px !important;
}
.wait_fews{
    text-align: center !important;
    font-size: 20px;
    margin-top: 20px;
}
.bt_done{
    margin-left: 90px !important;
}
.bt_create{

}
.bt_login{
    margin: auto;
}
