
.container{
    width: 1550px;
}
.header-top{
    height: 130px;
}


#form_search_btn{
    background: white;
    padding: 6px 7.5px 3.75px 7.5px;
}
.header-bottom{
    padding-left: 20px;
    height: 60px;
}
input
{
    outline: none;
}
.text-seach{
    font-size: 13px !important;
    padding: 10px 10px 5px 10px !important;
    height: 34.75px !important;
}
.social-in{
    margin-top: 0px;
    margin-right: -1px;
}

element.style {
}
.top-search{
    width: 656px;
    height: 36px;
    margin-left: -96px;
    /* border: solid #4c4c4c; */
    background: white;
    border-radius: 5px;
}
.header-para{
    height: 34px;
}
.cart{
    font-size: 15px;
    margin-right: 113px;

}
.header-para{
    width: 220px;
    height: 24px;
    padding-top: 1px;
    font-size: 15.8px;
    font-weight: lighter;
    font-family: Tahoma;
}
#home > div.header-para > p{
    color: #42595d;
}
ul.header-in{
    font-family: Tahoma;
    padding-left: 5px;
    font-size: 15.8px;
}